* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    width: 500px;
    flex-direction: column;
    /* margin: auto; */
    background-color: yellowgreen;
    padding: 30px 50px;
    border-radius: 10px;
    row-gap: 20px;
    justify-content: center;
    margin-top: 200px;
}


.container h2{
    text-align: center;
    color: #fff;
}

.container h4{
    text-align: center;
    color: #fff;
}
.row {
    display: flex;
    flex-direction: row;
    column-gap: 6%;
}

.row a, a {
    text-decoration: none;
    background-color: #fff;
    text-align: center;
    width: 47%;
    color: yellowgreen;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
}

a:hover {
    background-color: rgb(53, 79, 0);
    color: #fff;
    transition: 0.14s ease-out;
}

a.signout{
    width: 100%
}
